* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./img/bg2-form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(50px);
}

.container {
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    margin: 6rem 0;
    border: 1px solid (255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

form {
    display: flex;
    padding: 10px;
}

.left-div {
    float: inline-start;
    padding: 20px;
}

.right-div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input {
    display: flex;
    flex-direction: column;
}

.left-div .input input,
.right-div input {
    margin: 0.4rem;
    margin-left: 0;
    margin-top: 0.1rem;
    border-radius: 0.4rem;
    padding: 0.2rem;
    border: 2px solid rgb(189, 188, 188);
}

.left-div .input input::placeholder,
.right-div input::placeholder {
    font-family: Poppins;
    font-size: 0.7rem;
    font-weight: 100;
}

.option-select {
    margin: 0.3rem;
    margin-left: 0;
}


.gender input {
    margin: 0.5rem;
}

.amount input,
.clubs input {
    margin: 0.45rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 0.2rem 3rem;
    background: #ebeef1;
    cursor: pointer;
    border-radius: 5rem;
    border: none;
    font-family: Poppins;
    font-weight: bold;
}

button:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #ebeef1;
    letter-spacing: 0.1rem;
}

.submit {
    width: 10rem;
    height: 2rem;
    color: #00a037;
}

.reset {
    width: 10rem;
    color: red;
}

@media screen and (max-width:900px) {
    form {
        display: flex;
        flex-direction: column;
    }
}